

.slider-elem.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;

}

.slider-elem {
 display: none;

}

.slider-navbar {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    align-items: center;
    margin-left: 30px;
}

.slider-link {
    border: 2px solid #18cfab;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 25px;
}

.slider-link.active {
    border: 4px solid #18cfab;
    margin-bottom: 7px;
}

.slider-link-arrow {
    font-size: 25px;
    display: flex;

}

.slider-link-arrow:hover {
   color: #18cfab;
}

.slider-links-center {
    display: flex;
    justify-content: center;
    align-items: center;
}